@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background-color: darkblue;
    font-family: Orbitron;
    letter-spacing: 7px;
    text-align: center;
    color: darkorange;
}

h1 {
    
    font-size: 35px;
  
}

p {
    padding: 20px 40px;
    font-size: 35px;    
    border: solid 4px white;
    background-color: black;
}

span {
    font-size: 25px;
    color: white;
}
