@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background-color: darkblue;
    font-family: Orbitron;
    letter-spacing: 7px;
    text-align: center;
    color: darkorange;
}

h1 {
    
    font-size: 60px;
  
}

p {
 
    font-size: 150px;    
    border: solid 4px white;
}

span {
    font-size: 100px;
    color: white;
}
